:root{
    --cor-de-fundo: #d08df7;
    --preto: #000;
    --azul: #fc80e7;
    --botao-ativo: #e954a6;
    --botao-inativo: #8eb3f8; 
    --texto-fundo: #7cb8f0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--preto);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao {
    font-family: "Chakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--azul);

}